body {
  margin: 0 auto;
  background-color: rgba(224, 203, 131, 0.658);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CHARACTERS & COMICS */

.comicspage,
.characterpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character,
.comics {
  margin: 30px 150px;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.characterbox,
.comicsbox {
  border: black 3px solid;
  width: 380px;
  height: 450px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  background-color: black;
  font-size: 13px;
  border-radius: 10px;
  border: solid 3px rgb(59, 58, 46);

  color: white;
}

.characterbox img,
.comicsbox img {
  height: 260px;
  width: 230px;
  object-fit: cover;
  object-position: center;
  margin-left: 70px;
  margin-bottom: 10px;
  border-radius: 130px;
}
.comicsbox img {
  height: 230px;
  width: 230px;
  object-fit: cover;
  object-position: center;
  display: flex;
  margin-left: 70px;
  border-radius: 20px;
}

h3 {
  display: flex;
  text-align: center;
  justify-content: center;
}
/* .characterbox span,
.comicsbox span {
} */
