body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CHARACTERS */

.character {
  border: black 2px solid;

  margin-top: 30px;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.characterbox {
  border: black 3px solid;
  width: 340px;
  height: 400px;
}
