body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CHARACTERS & COMICS */

.comicspage,
.characterpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cry {
  font-size: 80px;
  display: flex;
  border: black 4px solid;
  justify-content: center;
  width: 100px;
  border-radius: 50px;
  background-color: #f00d18;
}

.character,
.comics {
  margin: 30px 150px;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.characterbox,
.comicsbox {
  border: black 3px solid;
  width: 340px;
  height: 400px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  background-color: black;

  align-items: center;
  color: white;
}
.characterbox img {
  /* display: none; */
}
